<br>

<div class="container">
  <h3>Nuevo Cliente</h3>
  <br>
  <form action="" [formGroup]="formularioAgregar">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
      </div>
      <div class="col">
        <input type="text" class="form-control" formControlName="apellido" placeholder="Apellido">
      </div>
    </div>
    <br>
    <div class="form-group">
      <input type="text" id="inputAddress" class="form-control" formControlName="direccion" placeholder="Dirección">
    </div>
    <br>
    <button [disabled]="!formularioAgregar.valid" (click)="agregar()" class="btn btn-primary">Agregar</button>
  </form>
</div>
