<br>
<div class="container">
  <form class="form-inline">
    <div class="form-group">
      <input type="" class="form-control" id="" placeholder="Buscar" (input)=buscarClientes($event)>

    <button type="submit" class="btn btn-success  mx-sm-3" routerLink="/agregarClientes">Nuevo Cliente</button>
    </div>
  </form>
  <br>

    <div class="row mt-4">
      <div class="col-sm-3" *ngFor="let clientes of cliente">
        <div class="card bg-light mb-3">
          <h5 class="card-header">{{clientes.nombre}} {{clientes.apellido}}</h5>
          <div class="card-body">
            <h6>Código: {{clientes.clienteID}}</h6>
            <p class="card-text">{{clientes.direccion}}</p>
            <a (click)="irProductos(clientes)" class="card-link">Agregar</a>
            <a href="" class="card-link">Eliminar</a>
          </div>
        </div>
      </div>
    </div>

</div>
